#header{
  position: absolute;
  height: 15%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: rgb(44, 43, 43);
  border-style: solid;
  border-color: black;
  text-align: center;
  font-size: larger;
  z-index: 3;
}
#movieList{
  position: absolute;
  height: 625px;
  width: 20%;
  top: 15%;
  left: 0%;
  background-color: yellow;
  border-style: solid;
}
#moviePoster{
  position: absolute;
  height: 625px;
  width: 80%;
  top: 15%;
  left: 20%;
}
#movieImage{
  position: relative;
  left: 0%;
  top: 0%;
  width: 417px;
  height: 625px;
  border-color: black;
  border-style: solid;
}
#movieDetails{
  position: absolute;
  left: 417px;
  top: 0%;
  width: 380px;
  height: 625px;
  border-style: solid;
  border-left: 0;
  padding-left: 10px;
}
.movieButton{
  background-color: lightgrey;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom-style: dashed;
  height: 35px;
  text-align: left;
  position: relative;
  margin-top: 2%;
  margin-right: 10%;
}