#header{
  position: absolute;
  height: 15%;
  width: 100%;
  top: 0%;
  left: 0%;
  background-color: red;
}
#movieList{
  position: absolute;
  height: 90%;
  width: 20%;
  top: 15%;
  left: 0%;
  background-color: yellow;
}
#moviePoster{
  position: absolute;
  height: 90%;
  width: 80%;
  top: 15%;
  left: 20%;
}